              .__   __            __                 __
 ___________  |  |_/  |_  _______/  |______    ____ |  | __
/  ___/\__  \ |  |\   __\/  ___/\   __\__  \ _/ ___\|  |/ /
\___ \  / __ \|  |_|  |  \___ \  |  |  / __ \\  \___|    <
/____  >(____ /____/__| /____  > |__| (____  /\___  >__|_ \
     \/      \/              \/            \/     \/     \/
@managed
-----------------------------------------------------------------------------
Welcome to {{ grains['fqdn'] }}

IP:            {{ grains['ipv4'][0] }}{% if grains['ipv4'][1] is defined and grains['ipv4'][1] != '127.0.0.1' %} & {{ grains['ipv4'][1] }} {% endif %}
OS:            {{ grains['osfullname'] }} {{ grains['osrelease'] }} "{{ grains['oscodename']|capitalize }}"
{%- if grains['virtual'] != 'physical' %}
Virtual:       {{ grains['virtual'] }}
{%- else %}
Server Type:   {{ grains['virtual'] }}
{%- endif %}
Kernel:        {{ grains['kernelrelease'] }}
Memory:        {{ grains['mem_total'] }} MB
CPU:           {{ grains['num_cpus'] }} x {{ grains['cpu_model'] }}
Salt Version:  {{ grains['saltversion'] }}
{%- for env, states in salt['state.show_top']().iteritems() %}
Salt Env:      {{ env }}
                 {%- for value in states %}
                 - {{ value }}
                 {%- endfor %}
{%- endfor %}

Access to this device is limited to authorized staff.

This server is managed using a configuration management system (saltstack.org).
Changes made to this box directly will likely be overwritten by Salt. Instead
modify server configuration via the configuration management git repository.
------------------------------------------------------------------------------
